  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <ul class="info">
            <li><i class="fa fa-envelope"></i> info@luxuryvilla.co</li>
            <li><i class="fa fa-map"></i> Sunny Isles Beach, FL 33160</li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4">
          <ul class="social-links">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{{ path('app_home') }}" class="logo">
                        <img src="/assets/images/logo.png" alt="" style="width: 150px; height: 80px;">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                      <li><a href="{{ path('app_home') }}"> Accueil</a></li>
                      <li><a href="{{ path('properties') }}"> Propriétés</a></li>
                      <li><a href="{{ path('app_contact') }}"> Contact</a></li>
                      <li>
                          <!-- Calendly link widget begin -->
                          <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
                          <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
                          <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/dinarakotozafy/30min'});return false;">
                          <i class="fa fa-calendar"></i>Planifier une visite</a>
                          <!-- Calendly link widget end -->
                      </li>
                  </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->